.cover__text {
  z-index: 2;
  margin: 245px auto;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__text {
    margin: 195px auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__text {
    margin: 115px auto;
  }
}

@media screen and (max-width: 767px) {
  .cover__text {
    margin: 33px auto;
  }
}
