.cover {
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  max-width: 1184px;
  max-height: 740px;
  background-position: center center;
  margin: 92px auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cover::after {
  content: "";
  position: absolute;
  background-color: #2a2c2f;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.cover:hover::after {
  opacity: 0.8;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    margin: 90px auto;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin: 64px auto;
  }
}
