.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place {
    margin: 0 auto 50px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    max-width: 984px;
    margin: 0 auto 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    margin: 0 24px 73px;
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 40px;
  }
}
