.place:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place {
    margin: 0 auto 50px;
  }
}

@media screen and (min-width: 768px) {
  .place {
    display: grid;
    grid-template-columns: minmax(340px, 460px) minmax(352px, 484px);
    max-width: 984px;
    margin: 0 auto 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    margin: 0 24px 73px;
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1281px) {
  .place {
    gap: 48px 40px;
  }
}

.place__header {
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__header {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 767px) {
  .place__header {
    font-size: 32px;
    line-height: 1.1;
    margin: 0 16px 32px;
  }
}

.place__link-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 767px) {
  .place__link-box {
    margin-left: 16px;
    margin-right: 16px;
  }
}

.place__url {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #aaaaaa;
  margin: 0 0 12px;
}

@media screen and (max-width: 1023px) {
  .place__url {
    line-height: 1;
  }
}

.place__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration-line: underline;
  cursor: pointer;
  color: white;
  margin: 0 0 32px;
}

.place__img {
  max-width: 100%;
}

.place__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
}

.place__text:last-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .place__text {
    margin: 32px 16px 25px;
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    font-size: 16px;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 1024px) {
  .place__text {
    margin: 0 0 27px;
  }
}
