.footer {
  margin: 0 16px 24px;
  max-width: 1184px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    margin: 0 48px 24px;
  }
}

@media screen and (min-width: 1240px) {
  .footer {
    margin: 0 auto 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer__list {
    display: flex;
  }
}

.footer__link {
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer__link {
    font-size: 16px;
    line-height: 1.1;
  }
}

.footer__item {
  margin: 0 0 32px;
}

@media screen and (min-width: 768px) {
  .footer__item {
    margin: 0 18px 0 0;
  }
}

.footer__item:last-child {
  margin: 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin: 48px 0 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 1.2;
    margin: 0;
  }
}
